<header>
    <h1>Sheet Metal Job Tracker</h1>
    <div class="topnav">
      <ul>
        <li><a href="/jobs">Home</a></li>
        <li><a href="/alljobs">All Jobs</a></li>
        <li><a href="/new">Add Job</a></li>
      </ul>
    </div>
</header>