<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>

    <body>
        <main>
            <div class="form">
              <form action="/jobs" method="POST">
                <fieldset>
                    <legend>Add New Job</legend>

                    <label>
                        Job Name: <input type="text" name="name" placeholder="enter name" />
                    </label>
                    <label>
                        Number: <input type="text" name="number" placeholder="enter job number" />
                    </label>   
                    <label>
                        Download: <input type="text" name="dl[name]" placeholder="enter download" />
                    </label> 
                    <label>
                        Date Turned In: <input type="text" name="dl[dateTurnedIn]" placeholder="enter date" />
                    </label>  
                    <label>
                        Date Due: <input type="text" name="dl[dateDue]" placeholder="enter date" />
                    </label>
                    <label>
                        Active: <input type="checkbox" name="dl[active]" />
                    </label>   <br>
                    <label><br>
                        Weight:
                        <br><br>
                            Galvinized: <br>
                        <input type="number" name="dl[weight][galv]" placeholder="enter weight" /> <br>
                        Stainless Steel: <br>
                        <input type="number" name="dl[weight][ss]" placeholder="enter weight" /> <br>
                        Black Iron: <br>
                        <input type="number" name="dl[weight][blackIron]" placeholder="enter weight" /> <br>
                        Paint Lock: <br>
                        <input type="number" name="dl[weight][pl]" placeholder="enter weight" /> <br>
                        Aluminum: <br>
                        <input type="number" name="dl[weight][alum]" placeholder="enter weight" /> <br>
                    </label> 
  
                </fieldset>
                
                <input type="submit" value="Create New Job" />
              </form>        

            </div>
        </main>
    </body>
</html>